*
!Makefile
!CMakeLists.txt
!ii42.control
!LICENSE
!README.md
!src/
!src/**
!sql/
!sql/ii42--*.sql
!packaging/
!packaging/onnxruntime.version
!packaging/onnxruntime.sha256
!packaging/docker/
!packaging/docker/postgres18/
!packaging/docker/postgres18/**
!packaging/docker/runtime-gpu-aarch64/
!packaging/docker/runtime-gpu-aarch64/**
!packaging/milestone-model.json
!packaging/MILESTONE-MODEL-NOTICE
!scripts/
!scripts/install_onnxruntime_c.sh
!scripts/validate_milestone_model_checkout.py
